extends ./layout/index.pug
block contenido
    if(info.length != 0)
        p.mb-3 Ingresos totales del periodo #{fechaInicial} a #{fechaFinal}:
            span.fw-bold #{info[0].ingresosTotales} pesos.
        .mx-auto.w-100
            .table-responsive
                table.table.table-bordered
                    thead
                        tr.p-4
                            th Paciente
                            th Servicio
                            th Doctor
                            th Precio
                            th Fecha
                    tbody
                        each i in info
                            tr.p-4
                                td #{i.paciente}
                                td #{i.servicio}
                                td #{i.doctor}
                                td #{i.precio}
                                td #{i.fecha}
    else 
        p No hay ingresos durante el periodo seleccionado.