extends ./layout/index.pug
block contenido
    p.text-xl.mb-5.p-4 Ingresos totales del periodo #{fechaInicial} a #{fechaFinal}:
        span.font-bold.text-green-500 #{info[0].ingresosTotales} pesos.
    .mx-auto.w-full
        table.text-left.w-full.text-lg
            thead.bg-blue-400.flex.text-white.w-full
                tr.flex.w-full.mb-4.border-b-2
                    th.p-4(class='w-1/4') Paciente
                    th.p-4(class='w-1/4') Servicio
                    th.p-4(class='w-1/4') Doctor
                    th.p-4(class='w-1/4') Precio
            tbody.bg-grey-light.flex.flex-col.items-center.justify-between.w-full
                each i in info
                    tr.flex.w-full.mb-4.border-b-2
                        td.p-4(class='w-1/4') #{i.paciente}
                        td.p-4(class='w-1/4') #{i.servicio}
                        td.p-4(class='w-1/4') #{i.doctor}
                        td.p-4(class='w-1/4') #{i.precio}
                